.calendar-container {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.date-input {
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
}

.calendar-icon {
  cursor: pointer;
  margin-left: 5px;
}

.arrow {
  cursor: pointer;
}

.calendar {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.calendar-header {
  text-align: center;
  margin-bottom: 10px;
}

.calendar-days-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 5px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-days div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.selected {
  background-color: blue;
  color: white;
}

.input-container {
  position: relative;
}

.date-input {
  padding-right: 30px;
}

.calendar-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
