<div class="row m-0 px-5 header">
  <div class="col">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="assets/img/tienda-xtrim.png" alt="xtrim">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link"href="#">COMPRA EN L&Iacute;NEA</a>
            </li>
          </ul>
          <img src="assets/img/compra-seguro.png" alt="xtrim">
        </div>
      </div>
    </nav>
  </div>
</div>
<app-timeline></app-timeline>
