<header>
  <div class="bg-[#3F1B6A] text-[#fff] h-14">
    <div class="mx-auto px-5 py-2 md:flex items-center">
      <a href="#" class="block md:inline-block text-center md:text-left w-full md:w-auto">
        <img src="assets/img/main-logo.png" alt="xtrim" class="mx-auto">
      </a>
      <div class="w-full text-center md:flex">
        <span class="mx-2 hidden md:block border-r h-6"></span>
        <span class="tracking-wider font-medium">COMPRA EN L&Iacute;NEA</span>
      </div>
      <img src="assets/img/compra-seguro.png" alt="xtrim" class="md:w-[15%] lg:w-1/12 hidden md:block">
    </div>
  </div>
  <app-timeline></app-timeline>
</header>
