<div class="bg-[#EBEBEB]">
  <div class="mx-auto p-4 w-full md:w-[75%]">
    <div class="flex flex-col md:flex-row justify-center items-start gap-3">
      <div class="bg-[#F9F9F9] w-full rounded-2xl" [ngClass]="!cobertura ? '' : 'md:w-[75%]'">
        <form class="space-y-4 p-9" [formGroup]="form">
          <span class="text-xl font-bold text-[#3F1B6A]">{{ cobertura ? 'Verifiquemos la cobertura de tu zona' : 'UPS! Tu dirección no tiene cobertura para el plan seleccionado' }}</span>
          <div class="w-full">
            <label for="inputDireccion" class="text-[14px] font-bold text-[#6A7180]">Dirección</label>
            <input type="text" class="w-full px-3 py-2 border rounded-md" id="inputDireccion" formControlName="direccion" (keyup.enter)="buscarDireccion()">
          </div>
          <div class="w-full">
            <label for="inputUbicacion" class="text-[14px] font-bold text-[#6A7180]">{{ cobertura ? 'Sit&uacute;a el pin en tu ubicaci&oacute;n exacta' : 'Descubre alternativas de conexión a Internet que se adaptan a tu ubicación.' }}</label>
            <div class="py-2" [ngClass]="cobertura ? '' : 'hidden'">
              <app-google-map></app-google-map>
            </div>
            <div class="py-2" [ngClass]="!cobertura ? '' : 'hidden'">
              <app-plan-hfc></app-plan-hfc>
            </div>
          </div>
          <div class="w-full" *ngIf="cobertura">
            <button type="button" class="rounded-md px-4 py-2 btn-continuar" [disabled]="!form.valid" (click)="continuar()">Continuar</button>
          </div>
        </form>
      </div>
      <div class="bg-[#F9F9F9] w-[75%] md:w-[25%] rounded-2xl" *ngIf="cobertura">
        <app-resumen-pedido></app-resumen-pedido>
      </div>
    </div>
  </div>
</div>