<div class="bg-[#EBEBEB]">
  <div class="mx-auto p-4 w-full md:w-[75%]">
    <div class="flex flex-col md:flex-row justify-center items-start gap-3">
      <div class="bg-[#F9F9F9] w-full md:w-[75%] rounded-2xl">
        <form class="space-y-4 p-9" *ngIf="panelInstalacionServicio">
          <span class="text-xl font-bold text-[#3F1B6A]">¿Cu&aacute;ndo podemos instalar tu servicio?</span>
          <div class="w-full">
            <label for="inputDireccion" class="text-[14px] font-bold text-[#6A7180]">Direcci&oacute;n de instalaci&oacute;n</label>
            <input type="text" class="w-full px-3 py-2 border rounded-md" id="inputDireccion">
          </div>
          <div class="w-full">
            <label for="inputUbicacion" class="text-[14px] font-bold text-[#6A7180]">Selecciona la fecha y horario</label>
            <div class="flex flex-col md:flex-row gap-4 mt-4">
              <div class="w-full md:w-[220px]">
                <app-calendario-fecha></app-calendario-fecha>
              </div>
              <div class="w-full md:w-[220px]">
                <app-calendario-horario></app-calendario-horario>
              </div>
            </div>
          </div>
          <div class="w-full flex flex justify-center md:justify-end pt-9">
            <button type="submit" class="rounded-md px-4 py-2 btn-continuar" (click)="continuar()">Continuar</button>
          </div>
        </form>
        <div class="w-full bg-[#FFFFFF] rounded-2xl" *ngIf="panelRegistroCompleto">
          <div class="w-full flex justify-center">
            <div class="flex flex-col items-center gap-4 py-20 w-[70%] text-center">
              <img src="assets/img/icon-check.png">
              <span class="text-xl font-bold text-[#3F1B6A]">Ya eres Xtrimer</span>
              <span class="text-base font-normal text-[#525A6C] font-montserrat">Se ha completado tu solicitud, hemos enviado una copia de tu contrato a tu correo electrónico y whatsapp.</span>
              <button type="submit" class="rounded-md border-2 border-[#EBECF0] px-4 py-2 mt-8 bg-[#FFFFFF] text-base font-medium text-[#83378F]" (click)="regresarInicio()">Regresar al inicio</button>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-[#F9F9F9] w-[75%] md:w-[25%] rounded-2xl" *ngIf="!panelRegistroCompleto">
        <app-resumen-pedido></app-resumen-pedido>
      </div>
    </div>
  </div>
</div>