<footer class="footer">
  <div class="container py-2">
    <div class="row">
      <div class="col-md text-left">
        <p><b>¿Necesitas asistencia?</b><br></p>
        <span class="small">
          Atención al cliente<br>
          Tel&eacute;fono <span style="color: #838383;">(593-2) 6002400</span><br>
          De Lunes a S&aacute;bado en horario de 08:00hs a 21:00hs<br>
          S&aacute;bados y Domingos de 08:00hs a 20:00hs
        </span>
      </div>
      <div class="col-md-5 text-left">
        <p><b>Todo en un solo lugar</b><br></p>
        <span class="small">
          Compra con tarjeta de cr&eacute;dito y d&eacute;bito<br>
          Garant&iacute;a en todos los productos<br>
          El mejor precio
        </span>
      </div>
      <div class="col-md-3">
        <p><b>S&iacute;guenos en redes sociales</b><br></p>
        <span class="d-flex gap-2 small">
          <img src="assets/img/icon-facebook.png" alt="xtrim">
          <img src="assets/img/icon-instagram.png" alt="xtrim">
          <img src="assets/img/icon-youtube.png" alt="xtrim">
        </span>
      </div>
    </div>
  </div>
  <div class="legacy">
    <div class="container py-2">
      <div class="row small">
        <div class="col-md-8">
          <span style="color: #838383;">&copy; 2023 Todos Los Derechos Reservados</span><br>
          <img src="assets/img/logo-developed-by-imagetech.png" alt="xtrim">
        </div>
        <div class="col-md-4">
          <img src="assets/img/logo-nuvei.png" class="mx-2" alt="xtrim">
          <img src="assets/img/badge_pci_dss_compliant@2x.png" class="mx-2" alt="xtrim">
          <img src="assets/img/powered-by-vtex.png" class="mx-2" alt="xtrim">
        </div>
      </div>
    </div>
  </div>
</footer>