<div class="resumen-pedido">
  <div class="row">
    <div class="col">
      <div class="titulo">Resumen del pedido</div>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col text-end"><div class="descripcion">Super Fibra Óptica</div></div>
  </div>
  <div class="row">
    <div class="col text-end"><img src="assets/img/precio.png" alt="xtrim"></div>
  </div>
  <div class="row">
    <div class="col-2"><img src="assets/img/icon-wifi.png" alt="xtrim"></div>
    <div class="col"><span class="descripcion detalle">Upgrade a 200 megas por siempre</span></div>
  </div>
  <div class="row">
    <div class="col-2"><img src="assets/img/icon-config.png" alt="xtrim"></div>
    <div class="col"><span class="descripcion detalle">Instalación sin costo</span></div>
  </div>
  <div class="row">
    <div class="col-2"><img src="assets/img/icon-router.png" alt="xtrim"></div>
    <div class="col"><span class="descripcion detalle">Equipo WIFI sin costo</span></div>
  </div>
  <div class="row">
    <div class="col-2"><img src="assets/img/icon-xtrim-play.png" alt="xtrim"></div>
    <div class="col"><span class="descripcion detalle">Xtrim Play gratis</span></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col"><span class="descripcion detalle"><b>Permanencias de 24 meses</b></span></div>
  </div>
</div>