<div class="h-16 mt-2 bg-[#F9F9F9]">
  <div class="flex">
    <div class="w-[15%] hidden md:block"></div>
    <div class="flex flex-col md:flex-row justify-center items-center w-full md:w-[70%]">
      <div class="text-center" [ngClass]="(isSmallScreen && timeLineActivo2) ? 'block' : (isSmallScreen && !timeLineActivo2) ? 'hidden' : ''">
        <div class="relative">
          <div [ngClass]="timeLineCobertura ? 'bg-[#3F1B6A]' : 'bg-[#D9D9D9]'" class="w-8 h-8 rounded-full flex items-center justify-center">
            <div [ngClass]="timeLineCobertura ? 'border-1 border-white' : ''" class="w-7 h-7 rounded-full to-transparent"></div>
          </div>
          <div class="absolute -bottom-6 left-1/2 transform -translate-x-1/2 w-32 text-xs text-[#222D44] font-medium">COBERTURA</div>
        </div>
      </div>
      <div class="w-1/4 hidden md:block">
        <div [ngClass]="timeLineDatosPersonales ? 'bg-[#3F1B6A]' : 'bg-[#D9D9D9]'" class="w-full h-1"></div>
      </div>
      <div class="text-center" [ngClass]="(isSmallScreen && timeLineActivo1) ? 'block' : (isSmallScreen && !timeLineActivo1) ? 'hidden' : ''">
        <div class="relative">
          <div [ngClass]="timeLineDatosPersonales ? 'bg-[#3F1B6A]' : 'bg-[#D9D9D9]'" class="w-8 h-8 rounded-full flex items-center justify-center">
            <div [ngClass]="timeLineDatosPersonales ? 'border-1 border-white' : ''" class="w-7 h-7 rounded-full to-transparent"></div>
          </div>
          <div class="absolute -bottom-6 left-1/2 transform -translate-x-1/2 w-32 text-xs text-[#222D44] font-medium">DATOS PERSONALES</div>
        </div>
      </div>
      <div class="w-1/4 hidden md:block">
        <div [ngClass]="timeLineBiometriaFacial ? 'bg-[#3F1B6A]' : 'bg-[#D9D9D9]'" class="w-full h-1"></div>
      </div>
      <div class="text-center" [ngClass]="(isSmallScreen && timeLineActivo3) ? 'block' : (isSmallScreen && !timeLineActivo3) ? 'hidden' : ''">
        <div class="relative">
          <div [ngClass]="timeLineBiometriaFacial ? 'bg-[#3F1B6A]' : 'bg-[#D9D9D9]'" class="w-8 h-8 rounded-full flex items-center justify-center">
            <div [ngClass]="timeLineBiometriaFacial ? 'border-1 border-white' : ''" class="w-7 h-7 rounded-full to-transparent"></div>
          </div>
          <div class="absolute -bottom-6 left-1/2 transform -translate-x-1/2 w-32 text-xs text-[#222D44] font-medium">BIOMETRIA FACIAL</div>
        </div>
      </div>
      <div class="w-1/4 hidden md:block">
        <div [ngClass]="timeLineInstalacion ? 'bg-[#3F1B6A]' : 'bg-[#D9D9D9]'" class="w-full h-1"></div>
      </div>
      <div class="text-center" [ngClass]="(isSmallScreen && timeLineActivo4) ? 'block' : (isSmallScreen && !timeLineActivo4) ? 'hidden' : ''">
        <div class="relative">
          <div [ngClass]="timeLineInstalacion ? 'bg-[#3F1B6A]' : 'bg-[#D9D9D9]'" class="w-8 h-8 rounded-full flex items-center justify-center">
            <div [ngClass]="timeLineInstalacion ? 'border-1 border-white' : ''" class="w-7 h-7 rounded-full to-transparent"></div>
          </div>
          <div class="absolute -bottom-6 left-1/2 transform -translate-x-1/2 w-32 text-xs text-[#222D44] font-medium">INSTALACION</div>
        </div>
      </div>
    </div>
    <div class="w-[15%] hidden md:block">
      <div class="flex items-center">
        <div class="w-8">
          <img src="assets/img/headphones.png" alt="xtrim" class="w-6 h-auto">
        </div>
        <div class="text-center text-xs font-montserrat">
          <span class="block font-extrabold">¿NECESITAS AYUDA?</span>
          <i class="block font-semibold">Te llamamos</i>
        </div>
      </div>
    </div>
  </div>
</div>






