/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Ubuntu', sans-serif;
}

input, select {
  background-color: #F9F9F9;
  border-color: #b1b5bd;
  color: #222d44;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

input:focus, select:focus {
  border-color: #83378f;
}

input:focus-visible, select:focus-visible {
  /* outline: 2px solid #83378f; */
  outline: none;
}

.btn-continuar {
  width: 11.625rem;
  color: #fff;
  background: linear-gradient(0deg, #773282 0%, #AF3BB1 100%) !important;
  box-shadow: 0px 0px 10px 0px rgba(131, 55, 143, 0.4) !important;
  font-weight: 500;
  font-size: 14px;
}

.btn-continuar:hover {
  background: #562577!important;
}

.btn-continuar:disabled {
  opacity: 0.2;
  background-color: #E5D0F6;
}

.btn-continuar[disabled]:hover {
  background: linear-gradient(0deg, #773282 0%, #AF3BB1 100%) !important;
}

/* Estilo del img tooltip */
.image-tooltip {
  position: absolute;
  top: 36.5%;
  left: 49.5%;
  z-index: 1000;
  max-width: 200px;
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* spinner */
.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%,#83378f);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  to {
     transform: rotate(1turn);
  }
}